<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <Appenders>
        <RollingFile name="RollingFile" 
                fileName="${log4j2.appender.file.path}${log4j2.appender.file.name}.log" 
                filePattern="${log4j2.appender.file.path}${log4j2.appender.file.name}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %-5level %logger{36} [%t] %message%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%X] %x %-5level %logger{36} - %message%n" />
        </Console>
        <Async name="Async">
            <AppenderRef ref="RollingFile" />
        </Async>
    </Appenders>

    <Loggers>
        <Root level="${log4j2.root.level}">
            <AppenderRef ref="${log4j2.appender}" />
        </Root>
        <Logger name="org.hibernate.validator" level="INFO" additivity="false">
            <AppenderRef ref="${log4j2.appender}" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="${log4j2.appender}" />
        </Logger>
        <Logger name="org.jboss.logging" level="INFO" additivity="false">
            <AppenderRef ref="${log4j2.appender}" />
        </Logger>
    </Loggers>
</Configuration>